/.vscode
/autofire
/boot.lua
/cfg
/cheat
/cheatfind
/client_python.py
/commonui
/comm_python.py
/console
/data
/DDQN1.pth
/DDQN2.pth
/discord
/dqn_invaders_model.pth
/dummy
/gdbstub
/hello.lua
/hiscore
/init_ai.lua
/inputmacro
/invaders.lua
/invaders_first.lua
/invaders_q.lua
/json
/layout
/lua/*
!/lua/luasocket-3.1.0
/lua/luasocket-3.1.0/*
!/lua/luasocket-3.1.0/LISMOI.txt
/MameCommunicator.py
/mame_socket_client.lua
/mime.lua
/plugin.schema
/plugins.code-workspace
/portname
/PythonBridge.lua
/README.md
/robotron.lua
/serveur_lua.lua
/socket.lua
/socket_test.lua
/tcp_server.py
/temp_read_1.txt
/temp_write_1.txt
/test_com_lua.lua
/timecode
/timer
/ui.ini
/xml
/__pycache__
/old-models-invaders
dqn_invaders_model_simple.pth
1210.avi
best_game.avi
ds6.pth
output-obs.mp4
openh264-1.8.0-win64.dll
1260.avi
ds8.pth
ds7.pth
/0-old_code
!/socket\ \[à\ mettre\ au\ niveau\ de\ mame\]/
socket\ \[à\ mettre\ au\ niveau\ de\ mame\]/*
!/socket\ \[à\ mettre\ au\ niveau\ de\ mame\]/core.dll
/runs/*
/models-png-pacman
/test*.*
!/test_neurones.py
/*.pth
/*.png
invaders.txt
invaders.buffer
invaders_cnn_double=True_N=2_i=(2, 96, 88)_hl=1,512_batch=20000,32_l=0.00025_g=0.99\[NoisyNet]_nb=4871_ms=322_hs=1230.buffer
MameCommSocket.txt
plugins - Raccourci.lnk
PythonBridgeSocket_12346.lua.bak
PythonBridgeSocket.txt
/logs
invaders_mlp_DDQN__Dueling_Prioritized_nstep_N=33_i=11_o=6_hl=2,256_batch=500000,32_l=0.0001_g=0.99\[NoisyNet]_nb=13125_ms=686_hs=1320.buffer
invaders_cnn_DDQN__Dueling_Prioritized_nstep_N=33_i=(3, 96, 88)_o=6_hl=1,512_batch=100000,32_l=0.0001_g=0.99\[NoisyNet]_nb=9619_ms=347_hs=1010.buffer
invadersDV2.buffer
